:root{
    --base-clr: #EFF6F5;
    --line-clr: #42434a;
    --hover-clr: #BED8D4;
    --text-clr: #161C19;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --sidebar-clr: #DFECEA;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    font-size: 18px;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    font-size: 20px;
    background-color: var(--sidebar-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar ul li.active a{
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}

#sidebar a, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar svg{
    flex-shrink: 0;
    vertical-align: middle;
    fill: var(--text-clr);
}

#sidebar a span{
    flex-grow: 1;
}

#sidebar a:hover{
    background-color: var(--hover-clr);
}

#sidebar.close span {
    display: none;
}

.rotate svg:last-child{
    rotate: 180deg;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}

h3 {
    position: relative;
    top: 240px;
    left: 440px;
    text-align: left;
    margin-bottom: 10px;
}

#toggle-btn:hover{
    background-color: var(--hover-clr);
}

#Canvas {
    position: relative;
    top: 250px;
    left: 450px;
    border: 1px solid #000;
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 300px;
    margin-bottom: 30px;
    margin-left: 60px;
}

#clearCanvas, #submitButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

#clearCanvas {
    background-color: #f44336;
}

#submitButton {
    background-color: #4CAF50;
}

body.mri-page label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

body.mri-page button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body.mri-page button:hover {
    background-color: #45a049;
}

body.mri-page main {
    margin-left: 20px;
    padding: 20px;
}